.advantages__items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.advantages__item {
    padding: 40px;
    border-radius: 50px;
    background: #202020;
    overflow: hidden;
    position: relative;
}

.advantages__title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.advantages__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.advantages__text {
    width: 80%;
}

.advantages-right .advantages__text {
    grid-column: 1;
    text-align: right;
    margin-right: auto;
}

.advantages-left .advantages__text {
    grid-column: 2;
    text-align: left;
    margin-left: auto;
}

.advantages-right .advantages__title {
    text-align: right;
}

.advantages-left .advantages__title {
    text-align: left;
}

.advantages__icon {
    position: absolute;

    font-size: 200px;
    bottom: -80px;

    font-weight: 500;
    letter-spacing: 1.9%;
    background: linear-gradient(to bottom, #9b0fff 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.advantages-right .advantages__icon {
    right: 40px;
}

.advantages-left .advantages__icon {
    left: 40px;
}

@media (max-width: 1450px) {
    .advantages__text {
        width: 100%;
    }
    .advantages__icon {
        position: absolute;

        font-size: 150px;
        bottom: -60px;
    }
}

@media (max-width: 1050px) {
    .advantages__icon {
        font-size: 100px;
        bottom: -40px;
    }
}

@media (max-width: 767px) {
    .advantages__items {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .advantages__icon {
        font-size: 150px;
        bottom: -60px;
    }
    .advantages__title {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .advantages__item {
        padding: 20px;
        border-radius: 20px;
    }
    .advantages__icon {
        font-size: 50px;
        bottom: -20px;
    }
    .advantages__text {
        margin-bottom: 40px;
        width: 180%;
    }

    .advantages-right .advantages__icon {
        right: 20px;
    }

    .advantages-left .advantages__icon {
        left: 20px;
    }

    .advantages-left .advantages__text {
        grid-column: auto;
        margin-left: 20%;
        width: 180%;
    }
}