.footer {
    width: 100%;
    font-size: 18px;
    margin-top: 80px;
}

.footer-top {
    background: #101010;
}

.footer-bottom {
    padding: 10px 0;
    text-align: center;
    background: #000;
}

.footer__inner {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__logo {
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__desc {
    width: 250px;
    margin-top: 20px;
}

.footer__menu {
    width: 100%;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer__link {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease all;
}

.footer__link:hover {
    color: #8C03E7;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.footer__socials {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .footer__inner {
        width: 100%;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .footer__info {
        width: 100%;
        text-align: center;
    }

    .footer__desc {
        width: 100%;
        text-align: center;
    }

    .footer__menu {
        width: 100%;
    }

    .footer__contacts {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        font-size: 16px;
    }
}